@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background-color: #0077B6;
  color: #F5F7FA;
}

.logo{
  font-family: Jaro;
  font-size:x-large;
}

.contact{
  background-color: #F4A261;
  border-radius: 1em;
}
